<%# Debug extremo %>
<%= content_tag :pre, "PARAMS: #{params.to_json}" %>
<%= content_tag :pre, "@recibos_filtrados: #{@recibos_filtrados.to_a.to_json}" %>

<% if false # Deshabilitar toda la vista original %>



<!-- Formulario de filtrado -->
<%= form_tag recibo_busqueda_path, method: :post, data: { turbo: false } do %>
  <%= text_field_tag :busquedaNombre, @parametros_busqueda['nombre'], placeholder: "Nombre" %>

  <%= select_tag :busquedaEstado,
      options_from_collection_for_select(@estados_recibo, "id", "nombre", @parametros_busqueda['estado']),
      include_blank: "Todos" %>

  <% selected_month = @parametros_busqueda['mes'].presence %>
  <%= select_month(
      selected_month.blank? ? nil : selected_month.to_i,
      {field_name: :busquedaMes, include_blank: true},
      {class: "form-control", name: "busquedaMes"}
    ) %>

  <%= submit_tag "Filtrar" %>
<% end %>

<!-- Debug: Muestra la consulta REAL que se ejecutó -->
<div class="alert alert-info">
  <strong>Consulta SQL ejecutada:</strong>
  <code><%= @recibos_filtrados.to_sql %></code>
  <br>
  <strong>Total registros encontrados:</strong> <%= @recibos_filtrados.count %>
</div>

<!-- Resultados REALES del filtro -->
<% if @recibos_filtrados.any? %>
  <div class="mt-4">
    <h4>Recibos encontrados:</h4>
    <div class="list-group">
      <% @recibos_filtrados.each do |rcb| %>
        <div class="list-group-item">
          <div class="d-flex justify-content-between">
            <div>
              <strong>#<%= rcb.id %></strong> -
              <%= rcb.usuario.nombre rescue 'SIN USUARIO' %>
            </div>
            <div>
              <%= rcb.created_at.strftime("%d/%m/%Y") %>
            </div>
          </div>
          <div class="mt-2">
            <span class="badge bg-<%= rcb.reciboEstado.color %>">
              <%= rcb.reciboEstado.nombre %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="alert alert-warning mt-4">
    No se encontraron recibos con los filtros actuales
  </div>


<% end %>



<% end %>
