
<div class="container">
  <div class="row align-items-start">
    <P><%= @rcb.where('created_at > ?', '2023-02-01').count  %></P>
    <p><%= @rcb.where('created_at > ?', '2023-02-01').sum(:importe) %></p>
  </div>
  <% @rcb.where('created_at > ?', '2023-02-01').order(:importe).each_with_index do |rcb, idx| %>
    <div class="row align-items-start <%= idx%2==0 ? 'bg-light' : '' %>">
      <div class="col ">
        <%=rcb.usuario.codigofacturacion %>
      </div>
      <div class="col">
        <%=rcb.usuario.nombre %>
      </div>
      <div class="col">
        <%=rcb.importe %>
      </div>
      <div class="col">
        <%=rcb.usuario.id %>
      </div>
    </div>
  <% end %>
</div>
