<% content_for :title,  "Tus clases agendadas en AgâraYoga para el mes de JULIO" %>
<% content_for :description,  "Hola #{@clsDelAlumno.first.usuario.nombre.split(' ')[0]}. Estas son tus clases agendadas en AgâraYoga para el mes de JULIO" %>


<% @arrayMeses.each do |dd| %>

  <div class="row d-flex flex-column mb-5">  <!-- Un mes -->
    <div class="row">  <!-- nombre del mes -->
      <div class="col border rounded d-flex justify-content-center bg-light text-black p-1">
        <h5><%= I18n.l(dd, format: '%B').upcase  %> <%=dd.year %>-<%= "#{@clsDelAlumno.first.usuario.nombre}" %></h5>
      </div>
    </div>

    <div class="row d-flex flex-row">  <!-- Un mes -->
      <% (1..5).each do |dd| %> <!-- dias de la semana -->
        <div class="col border rounded d-flex justify-content-center bg-light text-black p-1">
          <%=" #{I18n.t('date.day_names')[dd].capitalize[0..1]}" %>
        </div>
      <% end %>
    </div>

    <!-- dias del mes -->
      <% (dd.beginning_of_week..dd.end_of_month.end_of_week).each_with_index do |dm, idx| %>

        <% if dm.monday? %> <div class="row d-flex flex-row"> <% end %>

        <% unless dm.saturday? or dm.sunday? %>
        <div class="col border rounded d-flex justify-content-center bg-light p-1 <%= (dm.month == dd.month) ? 'text-black' : 'text-muted' %> ">
                       <!-- Comprobamos si hay clase este día -->
                      <% clAlm = @clsDelAlumno.where(diaHora: dm.at_beginning_of_day..dm.at_end_of_day) %>
                      <div class="col p-0 m-0 border d-flex justify-content-center flex-column rounded">

                        <% colorFondoClase = 'sucess' %>
                        <% colorTextoClase = 'sucess' %>
                        <% if clAlm.blank? %>
                          <% colorFondoClase = 'white' %>
                          <% colorTextoClase = 'black' %>
                        <% else %>
                          <% colorFondoClase = clAlm.first.claseAlumnoEstado.color %>
                          <% colorTextoClase = 'white' %>
                        <% end %>

                        <% unless dm.month == dd.month %>
                          <% colorFondoClase = 'white' %>
                          <% colorTextoClase = 'light' %>
                        <% end %>

                        <div class="d-flex justify-content-center flex-column rounded bg-<%= colorFondoClase %> text-<%= colorTextoClase %> ">
                        <p class="text-center"><%= dm.day %> </p>
                        <p class="p-0 m-0 text-center">
                            <% unless clAlm.blank? %>
                              <% clAlm.each do |cc| %>
                                <%= "#{ cc.diaHora.strftime("%H:%M")}" %>
                              <% end %>
                            <% else %>
                                .
                            <% end %>
                        </p>
                        </div>
                      </div>
        </div>
        <% end %>

        <% if dm.sunday? %> </div> <% end %>

      <% end %>
  </div>

<% end %>


# Texto para mandar por WhatsApp
<div class="row d-flex flex-column mb-5 pt-5">
<h4> Para enviar por WhatsApp </h4>
    <% @clsDelAlumno.each do |clAlm| %>
            <div class="col bg-light ">
        <% unless clAlm.diaHora.blank? then %>
          <%=" *#{I18n.t('date.day_names')[clAlm.diaHora.strftime('%w').to_i]}, #{clAlm.diaHora.strftime('%d')}* #{I18n.t('date.abbr_month_names')[clAlm.diaHora.strftime('%m').to_i]} #{clAlm.diaHora.year} a las *#{clAlm.diaHora.strftime('%H:%M')}* en el aula *#{clAlm.clase.aula.nombre}* con *#{clAlm.clase.instructor.nombre}*" %>
        <% end %>
          </div>
    <% end %>
</div>

# Enlace a clases Agendadas method get

<div class="row d-flex flex-column mb-5 pt-5">
<h4> Enlace app </h4>
  <div class="col bg-light ">
    <%="#{alumnos_clases_agendadas_url(@clsDelAlumno.first.usuario_id)} " %>
  </div>
</div>
