<div class="listado">
    <div class="table-responsive-sm">
        <table class="table">
            <thead>
              <tr>
                  <th> <%= "Alumnos (#{@alumnos.count})"%> </th>
                  <th> </th>
                  <th> </th>
              </tr>
            </thead>

            <tbody>

            <% @alumnos.order(:nombre).each do |almn| %>
                <tr>

                    <td> <%=almn.nombre %> </td>
                    <td> <%= link_to "Ver" , alumnos_path(almn), class: 'btn btn-primary w-100 mb-3' %> </td>
                    <td> <%= link_to "Ficha" , alumnos_path(almn, format: :pdf), class: 'btn btn-primary w-100 mb-3'%> </td>
                    <td>
                      <%= form_tag(alumno_clasesAgendadas_path, method: :post) do %> <!-- Remesar  -->
                        <input id="fechaInicio" name="fechaInicio" class="form-control" type="hidden"   value="<%=@fechaInicio.to_s%>" />
                        <input id="fechaFin"    name="fechaFin"    class="form-control" type="hidden"   value="<%=@fechaHoy.to_s%>" />
                        <input id="id"          name="id"          class="form-control" type="hidden" value="<%=almn.id%>" />
                        <button class="btn btn-primary w-100 mb-3" type="submit"> ver historial </button>
                      <% end %>
                    </td>

                    <td>
                      <a class="" data-bs-toggle="collapse" href="#collapseExample-<%=almn.id.to_s%>"  aria-expanded="false" aria-controls="collapseExample-<%=almn.id.to_s%>">
                        Historial
                      </a>

                      <div class="collapse" id="collapseExample-<%=almn.id.to_s%>">
                        <div class="card card-body">
                            <%= form_tag(alumno_clasesAgendadas_path, method: :post) do %> <!-- Remesar  -->
                            <input id="fechaInicio" name="fechaInicio" class="form-control" type="date"   value="<%=@fechaInicio.to_s%>" />
                            <input id="fechaFin"    name="fechaFin"    class="form-control" type="date"   value="<%=@fechaHoy.to_s%>" />
                            <input id="id"          name="id"          class="form-control" type="number" value="<%=almn.id%>" />
                            <button class="btn btn-primary w-100 mb-3" type="submit"> ver historial </button>
                        </div>
                      </div>
                            <% end %>
                    </td>

                    <% if almn.regalo then %>
                        <% color = "text-success" %>
                    <% else %>
                        <% color = "text-danger" %>
                    <%end%>
                    <td> <%= link_to "Regalo" , alumnos_regalo_path(almn),  class: 'btn btn-primary w-100 mb-3' %> </td>
                </tr>
            <%end%>
            </tbody>
        </table>
    </div>
</div>
