

<div class="container py-5 custom_tab_style1_outer">
      <div class="row">
        <div class="col-md-12 text-left">
            <h2 class="main_title main_title_left bi bi-card-checklist"><%=@almn.nombre%></h2>
        </div>
        <div class="col-md-12">
          <ul class="nav nav-tabs custom_tab_style1" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="personal-tab" data-bs-toggle="tab" data-bs-target="#Personal" type="button" role="tab" aria-controls="personal" aria-selected="false">Peronal</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="asistencia-tab" data-bs-toggle="tab" data-bs-target="#Asistencia" type="button" role="tab" aria-controls="asistencia" aria-selected="true">Asistencia</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="facturacion-tab" data-bs-toggle="tab" data-bs-target="#Facturacion" type="button" role="tab" aria-controls="facturacion" aria-selected="false">Facturación</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="procesos-tab" data-bs-toggle="tab" data-bs-target="#Procesos" type="button" role="tab" aria-controls="procesos" aria-selected="false">Procesos</button>
            </li>
          </ul>
          <div class="tab-content mt-5" id="myTabContent">
            <div class="tab-pane fade show active" id="Personal" role="tabpanel" aria-labelledby="personal-tab">
              <div class="member_card_style">
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-4 left_img">
                        <% unless @almn.image.blank? then %>
                          <%= image_tag rails_storage_proxy_path(@almn.image), class: "rounded-circle img-fluid" %>
                        <% end %>
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div class="member-info">
                          <h4 ><%=@almn.nombre%></h4>
                          <h6 class="p-2 bi bi-calendar2-day">       Antigüedad                              </h6>
                          <h6 class="p-2 bi bi-envelope">            <%=@almn.email%>                        </h6>
                          <h6 class="p-2 bi bi-credit-card-2-front"> <%=@almn.dni%>                          </h6>
                          <h6 class="p-2 bi bi-telephone">           <%=@almn.movil%> -- <%=@almn.telefono%> </h6>
                          <h6 class="p-2 bi bi-house">               <%=@almn.direccion%>                    </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="Asistencia" role="tabpanel" aria-labelledby="personal-tab">
                <%= @claseAlumno.where(claseAlumnoEstado: 1).order(:created_at).first.created_at.to_s %>
                <% @estados.each do |estado| %>
                    <p><%=estado.nombre%>: <%=@claseAlumno.where(claseAlumnoEstado_id: estado.id).count %></p>
                <% end %>
    <h1>CLASES por seamana </h1>
                <!-- LISTADO DE CLASES POR SEMANA -->
                <%= t2 = @clases.reverse.first[1]["clase"].diaHora.at_end_of_week.to_s%>
                <%= t1 = @clases.reverse.last[1]["clase"].diaHora.at_beginning_of_week.to_s%>

                <div class="row">
                  <% (t1.to_datetime..t2.to_datetime).step(7).each do |dia| %>
                    <div class="col-md-6 col-lg-4">
                        <div class="pb-4 mb-3 card">
                            <div class="card-header">
                                <h5 class="d-flex justify-content-between">
                                  <%=" Semana del #{dia.strftime('%d')} al #{(dia+6).strftime('%d')} de #{I18n.t('date.abbr_month_names')[dia.strftime('%m').to_i]} del #{dia.strftime('%Y')}" %>
                                </h5>
                            </div>
                            <div classo="card-body">
                              <ul>
                              <% (dia .. dia+6).each do |sem| %>
                                <li> <%= sem.to_date %> </li>
                                <% @clases.each do |i|  %>
                                    <% if i[0].to_date == sem.to_date %> 
                                        <li> <%=i[0].to_date%> si </li>
                                    <% end%>
                                <% end %>
                                <% @clases.select{|i| i[0].to_date = sem.to_date }.each do |k| %>
                                    <li> k es <%= k.to_s %> </li>
                                <%end%>

                              <% end %>
                              </ul>
                              cuerpo
                            </div>
                            <div class="card-footer">
                              pie
                            </div>

                        </div>
                    </div>
                  <% end %>
                </div>
                <h1>LISTADO DE CLASES </h1>
                <!-- LISTADO DE CLASES COMPLETO -->
                <ul>
                  <% @clases.reverse.each do |cl| %>
                    <li class= "text-<%=cl[1]["claseAlumno"].claseAlumnoEstado.color%>">
                      <%=" #{I18n.t('date.day_names')[cl[1]["clase"].diaHora.strftime('%w').to_i]}  #{cl[1]["clase"].diaHora.strftime('%d')} #{I18n.t('date.abbr_month_names')[cl[1]["clase"].diaHora.strftime('%m').to_i]} a las #{cl[1]["clase"].diaHora.strftime('%H:%M')}" %>
                      <%= cl[1]["claseAlumno"].claseAlumnoEstado.nombre %>
                    </li>
                  <%end%>
                </ul>
            </div>
            <div class="tab-pane fade" id="Facturacion" role="tabpanel" aria-labelledby="facturacion-tab">
                <% @estados.each do |estado| %>
                    <p><%=estado.nombre%>: <%=@claseAlumno.where(claseAlumnoEstado_id: estado.id).count %></p>
                <% end %>
            </div>
            <div class="tab-pane fade" id="Procesos" role="tabpanel" aria-labelledby="procesos-tab">
                <% @estados.each do |estado| %>
                    <p><%=estado.nombre%>: <%=@claseAlumno.where(claseAlumnoEstado_id: estado.id).count %></p>
                <% end %>
            </div>
          </div>
        </div>
      </div>
  </div>


<%= link_to( 'Volver al indice', alumnos_index_path) %>
<%= link_to( 'obtener ficha', alumnos_path(@almn, format: :pdf)) %>
<%= link_to( 'Obtener S.E.P.A', alumnos_sepa_path) %>
