<!-- Título de la página -->
<% content_for :title,  "Rms: #{@remesa.id.to_s}" %>
<% if @remesa.bloqueada? && (current_usuario&.admin? || current_usuario&.michon?) %>
  <%= button_to "Desbloquear (Admin)", remesa_desbloquear_path(@remesa), 
      method: :post, 
      class: "btn btn-sm btn-danger",
      form: { style: "display: inline-block;" },
      data: { confirm: "¿Desbloquear esta remesa? Los recibos podrán modificarse." } %>
<% end %>

<p> <%= @rcbsId.to_s %> </p>
<p> <%= @rmsId.to_s %> </p>
<!-- formulario para añadir recibos a la remesa -->
<div class="modal border " id="frmAnhadirRcbs" tabindex="-1" aria-labelledby="ModalAnhadirRcbs" aria-hidden="true">
  <div class="modal-dialog" id="frmAnhadirRcbs" tabindex="-1" aria-labelledby="ModalAnhadirRcbs" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Añadir recibos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_tag(remesa_anhadirRcbARemesa_path, method: :post) do |f| %>
          <div class="form-group">
            <% @rcb.each do |rcb| %>
              <p>
              <input id="<%=rcb.id%>" name="rcbs_ids[]" type="checkbox" class="form-check-input" value="<%=rcb.id%>" >
              <label class="form-check-label"  for="<%=rcb.id%>" > <%= rcb.usuario.nombre %> </label>
              </p>
            <% end %>
            <input type="hidden" id="rms_id"    name="rms_id"       value="<%=@remesa.id%>" >
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" name="commit" value="Añadir recibos"> Añadir Recibos </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- fin form -->

<div class="row d-flex justify-content-center border border-primary rounded ">
  <%= form_tag(recibo_modificar_path, method: :post) do %>
    <div class="form-outline mb-6">
      <h2 class="text-end"> Remesa número <%= @remesa.id %> </h2>
      <h6 class="text-end"> fecha de creación: <%= @remesa.created_at.strftime("%d de %B de %Y") %> </h6>
      <h6 class="text-end"> Importe total: <%= @remesa.recibos.sum(:importe)%> </h6>
      <h6 class="text-end"> Número de  recibos: <%= @remesa.recibos.count%> </h6>
      <input class="form-control " type="hidden" name="rms[id]" value="<%=@remesa.id%>" aria-describedby="nombre-descripcion" readonly>

      <div class="input-group input-group-lg mb-4">
        <span class="input-group-text" id="nombre-descripcion">Descripción: </span>
        <input class="form-control" type="text" name="rms[nombre]" value="<%=@remesa.nombre%>" aria-describedby="nombre-descripcion">
      </div>

      <div class="input-group input-group-lg mb-4">
        <span class="input-group-text" id="importe-descripcion">IBAN: </span>
        <input class="form-control text-center me-2" type="text" name="rms[iban]" value="<%=@remesa.iban%>" aria-describedby="importe-descripcion" >
        <span class="input-group-text" id="estado-descripcion">BIC:  </span>
        <input class="form-control text-center" type="text" name="rms[bic]" value="<%=@remesa.bic%>" aria-describedby="estado-descripcion" >
      </div>

      <div class="input-group input-group-lg mb-4">
        <span class="input-group-text" id="concepto-descripcion">A nombre de: </span>
        <input class="form-control" type="text" name="rms[empresa]" value="<%=@remesa.empresa%>" aria-describedby="concepto-descripcion" >
      </div>

      <div class="d-flex justify-content-end my-4">
        <button class="form-control btn btn-primary" type="submit"> Modificar </button>
      </div>

      <div class="d-flex justify-content-end my-4">
            <%= link_to 'Imprimir', remesa_show_path(@remesa, format: :pdf), class: ' btn btn-success me-3' %>
            <%= link_to 'Emitir remesa', remesa_emitir_path(@remesa, :format => :xml), class: ' btn btn-success me-3'%>
            <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#frmAnhadirRcbs" aria-expanded="false" aria-controls="frmAnhadirRcbs"> Añadir Recibos </button>
      </div>
    </div>
  <% end %>
</div>



<ul class="list-group border-primary border mx-0 my-4">
  <% @remesa.recibos.order(:nombre).each do |rcb| %>
    <li class="list-group-item border-1 rounded-3 mb-1">
      <div class="d-flex justify-content-between flex-fill">

        <div class="row justify-content-start w-100 text-<%=rcb.iban.blank? ? 'warning' : 'black' %> ">
          <div class="col col-1"> <%= "#{rcb.id}"%>  </div>
          <div class="col col-4"> <%= "#{rcb.usuario.nombre}"%> </div>
          <div class="col col-2"> <%="#{rcb.importe.to_s} €"%> </div>
          <div class="col col-2"> <%="#{rcb.factura.to_s}"%> </div>
        </div>

        <div class="d-flex justify-content-between">

          <a class="me-2 btn btn-primary" href="#" role="button">Imprimir</a>
          <%= link_to "Quitar", remesa_quitarRecibo_path(:rcb_id => rcb.id, :rms_id=>@remesa.id ), class: 'btn btn-warning me-2 text-white' %>

          <button class="me-2 btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#frmOculto-<%=rcb.id%>" aria-expanded="false" aria-controls="frmOculto-<%=rcb.id%>">
            ver
          </button>
          <%= link_to "Factura" , recibo_facturaPdf_path(rcb, format: :pdf), class: 'btn btn-danger'%>
        </div>
      </div>

      <div id="frmOculto-<%=rcb.id%>" class="oculto  collapse">
        <!----------------------------------------------------------------------->
        <!-- Visualización del recibo  ------------------------------------------>
        <!----------------------------------------------------------------------->
        <div class="row d-flex justify-content-center">
          <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center  rounded-3 m-2 border border-2 border-<%=rcb.reciboEstado.color%> ">
            <%= form_tag(recibo_modificar_path, method: :post) do %>
              <div class="form-outline mb-6">
                <h2 class="text-end"> Recibo número <%= rcb.id %> </h2>
                <h6 class="text-end"> fecha de emisión: <%= rcb.created_at.strftime("%d de %B de %Y") %> </h6>
                <input class="form-control " type="hidden" name="rcb[id]" value="<%=rcb.id%>" aria-describedby="nombre-descripcion" readonly>

                <div class="input-group input-group-lg mb-4">
                  <span class="input-group-text" id="nombre-descripcion">Recido de: </span>
                  <input class="form-control" type="text" name="rcb[nombre]" value="<%=rcb.usuario.nombre%>" aria-describedby="nombre-descripcion" readonly>
                </div>

                <div class="input-group input-group-lg mb-4">
                  <span class="input-group-text" id="importe-descripcion">la cantidad de: </span>
                  <input class="form-control text-end me-2" type="number" name="rcb[importe]" value="<%=rcb.importe%>" aria-describedby="importe-descripcion" >
                  <span class="input-group-text" id="estado-descripcion">Estado:  </span>
                  <input class="form-control text-center bg-<%=rcb.reciboEstado.color%>" type="text" name="rcb[estado]" value="<%=rcb.reciboEstado.nombre%>" aria-describedby="estado-descripcion" readonly>
                </div>

                <div class="input-group input-group-lg mb-4">
                  <span class="input-group-text" id="concepto-descripcion">En concepto de: </span>
                  <input class="form-control" type="text" name="rcb[concepto]" value="<%=rcb.concepto%>" aria-describedby="concepto-descripcion" >
                </div>

                <div class="input-group  input-group-lg mb-4">
                  <span class="input-group-text" id="lugar-descripcion">En: </span>
                  <input class="form-control me-2 text-center" type="text" name="rcb[lugar]" value="<%=rcb.lugar%>LUGO" aria-describedby="lugar-descripcion" >
                  <span class="input-group-text" id="pago-descripcion"> a </span>
                  <input class="form-control text-center" type="date" name="rcb[pago]" value="<%=rcb.pago.blank? ? Date.today.strftime("%Y-%m-%d") : rcb.pago.strftime("%Y-%m-%d") %>" aria-describedby="pago-descripcion" >
                </div>

                <div class="input-group  input-group-lg mb-4 d-flex justify-content-right content-ali">
                  <button class="form-control btn btn-primary  mb-4" type="submit"> Modificar </button>
                  <button class="form-control btn btn-primary  mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#frmOculto-<%=rcb.id%>" aria-expanded="false" aria-controls="frmOculto-<%=rcb.id%>">
                    Cerrar
                  </button>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </li>
  <% end %>
  </ul>
</div>
