
<section class="container">
    <div class="card-group">
        <div class="m-3 card ">
          <div class="card-header">
            <h5>Clases</h5>
          </div>

          <div class="car-body py-3 m-3 text-center">

            <%= form_tag(clase_seleccion_path, method: :post) do %> <!-- Vista horario semanal -->
              <div class="row mb-3">
                <div class="col col6">
                    <input id="fecha" name="fecha" class="form-control" type="date"  value="<%=@fechaHoy%>"/>
                </div>
                <div class="col col6">
                    <button class="btn btn-primary w-100" type="submit"> Ver semana </button>
                </div>
              </div>
            <% end %>

            <%= form_tag(clase_seleccion_dia_path, method: :post) do %> <!-- Vista horario dia -->
              <div class="row mb-3">
                <div class="col col6">
                    <input id="fecha" name="fecha" class="form-control" type="date" value="<%=@fechaHoy%>" />
                </div>
                <div class="col col6">
                    <button class="btn btn-primary w-100" type="submit"> Ver clases </button>
                </div>
              </div>
            <% end %>

            <%= form_tag(clase_seleccion_path, method: :post) do %> <!-- Vista horas libre semanal -->
              <div class="row mb-3">
                <div class="col col6">
                    <input id="fecha" name="fecha" class="form-control" type="date"  value="<%=@fechaHoy%>"/>
                </div>
                <div class="col col6">
                    <button class="btn btn-primary w-100" type="submit"> libre esta semana </button>
                </div>
              </div>
            <% end %>

            <%= form_tag(clase_seleccion_dia_path, method: :post) do %> <!-- Vista hoara libres dia -->
              <div class="row mb-3">
                <div class="col col6">
                    <input id="fecha" name="fecha" class="form-control" type="date" value="<%=@fechaHoy%>" />
                </div>
                <div class="col col6">
                    <button class="btn btn-primary w-100" type="submit"> libre este dia </button>
                </div>
              </div>
            <% end %>

          </div>

        </div> <!-- fin clase card -->
        

        <!-- Alumnos card -->
        <div class="m-3 card"> 
          <div class="card-header">
            <h5>Alumnos</h5>
          </div>

          <div class="car-body m-3 py-3 text-center">
              <%= link_to 'Listado alumnos', alumnos_index_path, class: 'btn btn-primary w-100 mb-3', role: "button" %>
          </div>

        </div> <!-- fin alumno card -->

        
        <!-- H O R A R I O    card -->
        <div class="m-3 card">
          <div class="card-header">
              <h5 class="d-flex justify-content-between">
                  <span>Horario</span>
                  <span><%= @alumnosTotal.count %> </span>
            </h5>
          </div>
          <div class="car-body m-3 py-3 text-center">
              <%= link_to 'Plantilla general', horario_index_path, class: 'btn btn-primary w-100 mb-3', role: "button" %>
              <%= link_to 'Horas libres', horario_libre_path, class: 'btn btn-primary w-100 mb-3', role: "button" %>
          </div>
        </div>
        <!-- fin horario card -->

        <!-- F A C T U R A C I Ó N  card -->
        <div class="m-3 card">
          <div class="card-header">
              <h5 class="d-flex justify-content-between">
                  <span>Facturación</span>
                  <span><%= @alumnosTotal.count %> </span>
            </h5>
          </div>
          
          <div class="car-body m-3 py-3 text-center">
              <%= link_to 'Listado factuación', facturacion_path, class: 'btn btn-primary w-100 mb-3', role: "button" %>
          </div>
        </div>
        <!-- fin horario card -->

  </div> <!-- fin de fila -->
</section>
