<!-- Título de la página -->
<% cl = @clasesHoy.first %>
<% content_for :title,  " #{I18n.t('date.day_names')[cl.diaHora.strftime('%w').to_i].upcase}  #{cl.diaHora.strftime('%d')} #{I18n.t('date.abbr_month_names')[cl.diaHora.strftime('%m').to_i].upcase}" %>


  <!-- Dibuja un card por clase  que contiene cada uno de los alumnos -->
  <div class="row">
    <% @clasesHoy.each do |cl| %>
    <div class="col-md-6 col-lg-4">
        <div class="pb-4 mb-3 card">
            <div id="clase-<%=cl.id%>" class="card-header">

                <div class="d-flex justify-content-between">
                  <h5 class="d-flex justify-content-between">
                      <span class="card-title"><%= "#{cl.diaHora.strftime('%H:%M')}" %> </span>
                  </h5>
                  <h5 class="d-flex justify-content-between">
                      <span class="text-right"><%= cl.asistentes %></span>
                  </h5>
                </div>

                <div class="d-flex justify-content-between">
                  <span class="card-subtitle text-muted"> <%= "#{I18n.t('date.day_names')[cl.diaHora.strftime('%w').to_i].upcase}  #{cl.diaHora.strftime('%d')} #{I18n.t('date.abbr_month_names')[cl.diaHora.strftime('%m').to_i].upcase}" %></span>
                  <span class="card-subtitle text-muted text-end"><%= cl.instructor.nombre %></span>
                </div>

                <div class="d-flex justify-content-between">

                  <div class="d-flex justify-content-start">
                      <a class="" data-bs-toggle="collapse" href="#cuerpoTarjeta-<%=cl.id%>" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                        <i class="bi bi-arrows-collapse"></i>
                      </a>
                  </div>

                  <div class="d-flex justify-content-end">
                      <% if current_usuario.rol == 'michon' %>
                        <%= button_to  clase_path(cl), method: :delete, class: "text-center dropdown-item text-danger bg-light-danger",  :onclick => "return confirm('Ojito que borras la clase y todos los alumnos asignados a la clase. ¿Estas SEGURO?')" do %>
                          <i class="bi bi-calendar-x-fill"></i>
                        <% end %>
                      <% end %>
                  </div>

                </div>
            </div>

            <% idForm = "cuerpoTarjeta-" + cl.id.to_s %>
            <%= form_tag(clase_estado_path, method: :post, class: "collapse show", id: idForm ) do %>
            <% idx = 0 %>
                <div class="card-body" >
                    <% cl.claseAlumno.includes(:usuario).order(claseAlumnoEstado_id: :asc).order('usuarios.nombre').each do |clalm| %>
                      <% unless clalm.usuario.blank? %>
                      <% unless clalm.usuario.grupoAlumno_id == 5 %>
                          <div class="form-check" id="colordiv-<%=cl.id%>-<%=clalm.claseAlumnoEstado.id%>">
                            <input id="<%=clalm.id%>" name="alumnos_ids[]" type="checkbox" class="form-check-input" value="<%=clalm.id%>" >
                            <label class="form-check-label text-<%=clalm.claseAlumnoEstado.color%>"  for="<%=clalm.id%>" > <%= clalm.usuario.nombre %> </label>
                          </div>
                      <%end %>
                      <%end %>
                    <%end %>

                    <% cl.claseAlumno.order(claseAlumnoEstado_id: :asc).each do |clalm| %>
                      <% unless clalm.usuario.blank? %>
                      <% if clalm.usuario.grupoAlumno_id == 5 %>
                          <button type="button" class="btn btn-primary btn-sm">.</button>
                          <div class="form-check" id="colordiv-<%=cl.id%>-<%=clalm.claseAlumnoEstado.id%>">
                            <input id="<%=clalm.id%>" name="alumnos_ids[]" type="checkbox" class="form-check-input" value="<%=clalm.id%>" >
                            <label class="form-check-label text-muted"  for="<%=clalm.id%>" > <%= clalm.usuario.nombre %> </label>
                          </div>
                      <%end %>
                      <%end %>
                    <%end %>

                    <!-- presenta la gente que va a hacer la prueba en esta clase -->
                    <% unless cl.pruebas.blank? %>
                      <div class="border border-primary p-0 mb-2 rounded rounded-2">
                        <div class="d-grid gap-2 border-0 m-0 p-0 ">
                          <button class="btn m-0 p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#pruebas-<%=cl.id%>" aria-expanded="false" aria-controls="pruebas-<%=cl.id%>">
                            <p class="d-flex justify-content-start text-info rounded py-0 my-0">
                                <i class="bi bi-arrows-collapse"> Pruebas</i>
                            </p>
                          </button>
                        </div>
                        <ul id="pruebas-<%=cl.id%>" class="list-group list-group-flush px-2 my-0 collapse">
                            <% cl.pruebas.each do |prb| %>
                              <div class="form-check" id="colordiv-info">
                                <input id="prueba-<%=prb.id%>" name="alumnos_ids[]" type="checkbox" class="form-check-input" value="<%=prb.id%>" >
                                <label class="form-check-label text-info"  for="prueba-<%=prb.id%>" > <%="#{prb.nombre.capitalize} - #{prb.movil}"%>   </label>
                              </div>
                            <% end %>
                        </ul>
                      </div>
                    <%end%>


                    <!-- presenta la gente que solicita plaza en esta clase -->
                    <% unless cl.claseSolicitum.blank? %>
                      <div class="border border-secondary p-0 rounded rounded-2">
                        <div class="d-grid gap-2 border-0 m-0 p-0">
                          <button class="btn m-0 p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#solicita-<%=cl.id%>" aria-expanded="false" aria-controls="solicita-<%=cl.id%>">
                            <p class="d-flex justify-content-start text-warning rounded py-0 my-0 ">
                              <span class="mt-1">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-collapse" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8Zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0Zm-.5 11.707-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793Z"/>
                              </svg>
                              </span>
                              <span class="m-1 me-3">Solicitudes</span>
                            </p>
                          </button>
                        </div>
                        <ul id="solicita-<%=cl.id%>" class="list-group list-group-flush px-2 my-0 collapse">
                            <% cl.claseSolicitum.each do |prb| %>
                              <div class="form-check" id="colordiv-info">
                                <input id="solicita-<%=prb.id%>" name="alumnos_ids[]" type="checkbox" class="form-check-input" value="<%=prb.id%>" >
                                <label class="form-check-label text-warning"  for="solicita-<%=prb.id%>" > <%="#{prb.usuario.nombre.capitalize}"%>   </label>
                              </div>
                            <% end %>
                        </ul>
                      </div>
                    <%end%>

                </div>

                <div class="card-footer">
                  <div class="pb-4 row">
                      <div class="col col-9">
                          <div class="row">
                            <div class="col col-6">
                                <div class="form-check form-check-inline" >
                                  <input class="form-check-input" type="radio" id="falto-<%=cl.id%>", name="accion#<%=cl.id%>" value="4">
                                  <label class="form-check-label" for="falto-<%=cl.id%>"> Faltó </label>
                                </div>

                                <div class="form-check form-check-inline" >
                                  <input class="form-check-input" type="radio" id="aviso-<%=cl.id%>", name="accion#<%=cl.id%>" value="3">
                                  <label class="form-check-label" for="aviso-<%=cl.id%>"> Avisó </label>
                                </div>
                            </div>

                            <div class="col col-6">
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" id="asistio-<%=cl.id%>", name="accion#<%=cl.id%>" checked value="2">
                                  <label class="form-check-label" for="asistio-<%=cl.id%>"> Asistió </label>
                                </div>

                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" id="vendra-<%=cl.id%>", name="accion#<%=cl.id%>" value="1">
                                  <label class="form-check-label" for="vendra-<%=cl.id%>"> Vendrá </label>
                                </div>
                            </div>
                          </div>
                      </div>

                      <div class="col col-3">
                        <button type="submit" class="btn btn-primary">Haz</button>
                      </div>
                  </div>

                  <!-- ******************************************************************************************************* -->
                  <!-- **************************************  Fila de bontones   ******************************************** -->
                  <!-- ******************************************************************************************************* -->
                  <div class="row"> <!-- Fila de botones -->
                      <div class="col col-9">
                        <div class="pb-4 row justify-content-left">
                          <div class="col col-6">
                            <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#altaAlumno-<%=cl.id%>">
                              <i class="bi bi-person-plus-fill"></i> Alumno
                            </button>
                          </div>
                          <div class="col col-6">
                            <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#quitar-<%=cl.id%>">
                              <i class="bi bi-person-dash-fill"></i> Alumno
                            </button>
                          </div>
                        </div>

                        <div class="pb-4 row justify-content-left">
                          <div class="col col-6">
                            <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#altaSolicita-<%=cl.id%>">
                              <i class="bi bi-person-plus"></i> Solicitud
                            </button>
                          </div>
                          <div class="col col-6">
                            <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#quitarSolicita-<%=cl.id%>">
                              <i class="bi bi-person-dash"></i> Solicitud
                            </button>
                          </div>
                        </div>

                        <div class="row justify-content-left">
                          <div class="col col-6">
                             <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#altaPrueba-<%=cl.id%>">
                              <i class="bi bi-plus-circle"></i> Prueba
                            </button>
                          </div>
                          <div class="col col-6">
                             <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#quitarPrueba-<%=cl.id%>">
                              <i class="bi bi-dash-circle"></i> Prueba
                            </button>
                          </div>
                        </div>
                    </div>
                    <div class="col col-3">
                       <% @estados.each do |est| %>
                        <div class="form-check form-switch">
                          <input class="form-check-input border-light bg-<%=est.color%>" type="checkbox"  checked id="colorCheck-<%=cl.id%>-<%=est.id%>">
                        </div>
                        <%end%>
                    </div>
                </div> <!-- fila de botones -->

                </div> <!--- card body -->
            <%end %> <!-- form end -->
        </div> <!-- card -->
      </div> <!-- div class col -->
    <% end %> <!-- each de clase -->
  </div> <!-- div row -->


<!-- ******************************************************************************************************* -->
<!-- ******************************* Formulario para seleccionar otro día ********************************** -->
<!-- ******************************************************************************************************* -->
<div class="card border border-info mb-3" >
    <div class="card-header">
        <h5 class="text-warning">Selecciona otro dia </h5>
    </div>

    <%= form_tag(clase_seleccion_dia_path, method: :post) do %>
    <div class="card-body">
        <input class="col col-12 text-warning" id="fecha" name="fecha" class="form-control" type="date" value="<%=@clasesHoy.first.diaHora.to_date.to_s%>" />
    </div>

    <div class="card-footer">
        <div class="btn-group" role="group" arial-label="movimiento entre dias">
            <button class="me-2 btn btn-warning" type="submit"> Ver clases </button>
            <div class="dropdown">
              <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown">
                Selecciona un día
              </button>
              <ul class="dropdown-menu">
                <% (@fecha.at_beginning_of_week .. @fecha.at_end_of_week-2).each do |d| %>
                    <li><%= link_to  I18n.t('date.day_names')[d.strftime('%w').to_i].upcase  + " " + d.strftime('%d'), clase_dia_path(:fecha => d), method: :post, class: "dropdown-item" %></li>
                <%end%>

              </ul>
             </div>
        </div>
     </div> <!-- cierre footer -->
    <% end %>
</div>


<!-- ******************************************************************************************************* -->
<!-- ******************************* Formulario para Modales de alta alumno ******************************** -->
<!-- ******************************************************************************************************* -->
<% @clasesHoy.each do |cl| %>
    <div class="modal fade" id="altaAlumno-<%=cl.id%>" tabindex="-1" aria-labelledby="ModalAltaAlumnos" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="altaAlumno-<%=cl.id%>">
            <%= " #{I18n.t('date.day_names')[cl.diaHora.strftime('%w').to_i].upcase}  #{cl.diaHora.strftime('%d')} #{I18n.t('date.abbr_month_names')[cl.diaHora.strftime('%m').to_i].upcase} #{cl.diaHora.strftime('%H:%M')}" %> </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= form_for(ClaseAlumno.new, url: clase_alta_alumno_path) do |f| %>
              <div class="modal-body">
                      <%= f.collection_select :usuario_id, Usuario.where(debaja: false).order(:nombre), :id, :nombre, prompt: true, autofocus: true %> </br>
                      <%= f.hidden_field :clase_id, value: cl.id %>
                      <%= f.hidden_field :claseAlumnoEstado_id, value: 1 %>
                      <input type="hidden" id="fecha_dia" name="fecha" value="<%=cl.diaHora.to_s%>" >
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" name="commit" value="Añadir Alumno"> Añadir Alumno </button>
              </div>
          <% end %>
        </div>
      </div>
    </div>
<%end%>

<!-- ******************************************************************************************************* -->
<!-- ***************************** Formulario para Modales de quitar alumno ******************************** -->
<!-- ******************************************************************************************************* -->
<% @clasesHoy.each do |cl| %>
    <div class="modal fade" id="quitar-<%=cl.id%>" tabindex="-1" aria-labelledby="ModalAltaAlumnos" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="quitar-<%=cl.id%>">
            <%= " #{I18n.t('date.day_names')[cl.diaHora.strftime('%w').to_i].upcase}  #{cl.diaHora.strftime('%d')} #{I18n.t('date.abbr_month_names')[cl.diaHora.strftime('%m').to_i].upcase} #{cl.diaHora.strftime('%H:%M')}" %> </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= form_tag(clase_baja_alumnos_path, method: :post) do %>
              <div class="modal-body">
                  <select class="form-select"  name="clase_alumno_id" id="baja_clase_alumno_id">
                      <% cl.claseAlumno.each do |clAlm|%>
                          <option value="<%=clAlm.id%>"> <%=clAlm.usuario.nombre unless clAlm.usuario.blank? %> </option>
                      <% end %>
                  </select>
                  <input type="hidden" id="baja_fecha_dia" name="fecha"    value="<%=cl.diaHora.to_s%>" >
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" name="commit" value="Añadir Alumno"> Quitar Alumno </button>
              </div>
          <% end %>
        </div>
      </div>
    </div>
<%end%>

<!-- ******************************************************************************************************* -->
<!-- ******************************* Formulario para Modales de ALTA SOLICITUD ***************************** -->
<!-- ******************************************************************************************************* -->
<% @clasesHoy.each do |cl| %>
    <div class="modal fade" id="altaSolicita-<%=cl.id%>" tabindex="-1" aria-labelledby="ModalAltaAlumnos" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="altaSolicita-<%=cl.id%>">
            <%= " #{I18n.t('date.day_names')[cl.diaHora.strftime('%w').to_i].upcase}  #{cl.diaHora.strftime('%d')} #{I18n.t('date.abbr_month_names')[cl.diaHora.strftime('%m').to_i].upcase} #{cl.diaHora.strftime('%H:%M')}" %> </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= form_for(ClaseSolicitum.new, url: clase_alta_solicita_path) do |f| %>
              <div class="modal-body">
                      <%= f.collection_select :usuario_id, Usuario.where(debaja: false).order(:nombre), :id, :nombre, prompt: true, autofocus: true %> </br>
                      <%= f.hidden_field :clase_id, value: cl.id %>
                      <input type="hidden" id="fecha_dia" name="fecha" value="<%=cl.diaHora.to_s%>" >
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" name="commit" value="Añadir Alumno"> Añadir Alumno </button>
              </div>
          <% end %>
        </div>
      </div>
    </div>
<%end%>

<!-- ******************************************************************************************************* -->
<!-- *************************** Formulario para Modales de QUITAR SOLICITUD  ****************************** -->
<!-- ******************************************************************************************************* -->
<% @clasesHoy.each do |cl| %>
    <div class="modal fade" id="quitarSolicita-<%=cl.id%>" tabindex="-1" aria-labelledby="ModalAltaAlumnos" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" >
            <%= " #{I18n.t('date.day_names')[cl.diaHora.strftime('%w').to_i].upcase}  #{cl.diaHora.strftime('%d')} #{I18n.t('date.abbr_month_names')[cl.diaHora.strftime('%m').to_i].upcase} #{cl.diaHora.strftime('%H:%M')}" %> </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= form_tag(clase_baja_solicita_path, method: :post) do %>
              <div class="modal-body">
                  <select class="form-select"  name="clase_alumno_id" id="baja_clase_alumno_id">
                      <% cl.claseSolicitum.each do |clAlm|%>
                          <option value="<%=clAlm.id%>"> <%=clAlm.usuario.nombre unless clAlm.usuario.blank? %> </option>
                      <% end %>
                  </select>
                  <input type="hidden" id="baja_fecha_dia" name="fecha"    value="<%=cl.diaHora.to_s%>" >
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" name="commit" value="Añadir Alumno"> Quitar Alumno </button>
              </div>
          <% end %>
        </div>
      </div>
    </div>
<%end%>
<!-- ******************************************************************************************************* -->
<!-- ***************************** Formulario para Modales de altas PRUEBAS ******************************** -->
<!-- ******************************************************************************************************* -->
<% @clasesHoy.each do |cl| %>
    <div class="modal fade" id="altaPrueba-<%=cl.id%>" tabindex="-1" aria-labelledby="ModalAltaAlumnos" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="altaPrueba-<%=cl.id%>">
            <%= " #{I18n.t('date.day_names')[cl.diaHora.strftime('%w').to_i].upcase}  #{cl.diaHora.strftime('%d')} #{I18n.t('date.abbr_month_names')[cl.diaHora.strftime('%m').to_i].upcase} #{cl.diaHora.strftime('%H:%M')}" %> </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            <%= form_tag(clase_alta_prueba_path, method: :post) do %>
              <div class="modal-body">
                  <label for="alta_prueba_nombre", class="form-label"> Nombre del alumno </label>
                  <input type="text" class="form-control" id="alta_prueba_nombre" name="nombre" placeholder="nombre del alumno" >
                  <label for="alta_prueba_movil", class="form-label"> Móvil </label>
                  <input type="text"  class="form-control" id="alta_prueba_movil" name="movil" placeholder="móvil del alumno" >
                  <input type="hidden" id="alta_prueba_clase_id" name="clase_id"    value="<%=cl.id%>" >
                  <input type="hidden" id="alta_prueba_fecha"    name="fecha"       value="<%=cl.diaHora.to_s%>" >
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" name="commit" value="Añadir prueba"> Añadir para probar </button>
              </div>
            <% end %>
        </div>
      </div>
    </div>
<%end%>

<!-- ******************************************************************************************************* -->
<!-- ***************************** Formulario para Modales de QUITAR PRUEBAS ******************************* -->
<!-- ******************************************************************************************************* -->
<% @clasesHoy.each do |cl| %>
    <div class="modal fade" id="quitarPrueba-<%=cl.id%>" tabindex="-1" aria-labelledby="ModalQuitarPrueba" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="quitarPrueba-<%=cl.id%>">
            <%= " #{I18n.t('date.day_names')[cl.diaHora.strftime('%w').to_i].upcase}  #{cl.diaHora.strftime('%d')} #{I18n.t('date.abbr_month_names')[cl.diaHora.strftime('%m').to_i].upcase} #{cl.diaHora.strftime('%H:%M')}" %> </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <%= form_tag(clase_baja_prueba_path, method: :post) do %>
                  <div class="modal-body">
                      <select class="form-select"  name="prueba_id" id="baja_clase_alumno_id">
                          <% cl.pruebas.each do |clPrb|%>
                              <option value="<%=clPrb.id%>"> <%=clPrb.nombre%> </option>
                          <% end %>
                      </select>
                      <input type="hidden" id="baja_prueba_fecha"    name="fecha"       value="<%=cl.diaHora.to_s%>" >
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" name="commit" value="baja prueba"> quitar para probar </button>
                  </div>
              <% end %>
          </div>
      </div>
    </div>
  </div>
<%end%>



<script>
// jQuery función para ocultar los alumnos según su estado en la vista dia del controlador clase
$(document).ready(function() {
  //set initial state.
  $('#colorCheck-126-1').val($(this).is(':checked'));

  $('#colorCheck-126-1').change(function() {
    $('#textbox1').val($(this).is(':checked'));
  });

  $('#colorCheck-126-1#').click(function() {
    if (!$(this).is(':checked')) {
      return confirm("Are you sure?");
    }
  });
});
</script>
