
    <div class="" id="heading-">
        <div class="d-flex justify-content-around w-100 mb-3">
          <div class="p-2">
              <h2><%= @clases.first.instructor.nombre %></h2>
           </div>
          <div class="p-2">
              <h2><%= I18n.t('date.month_names')[@fecha.strftime('%m').to_i]%></h2>
           </div>
          <div class="p-2">
              <h2><%= number_to_currency(@total) %></h2>
           </div>
        </div>
    </div>


<div class="accordion" id="accordionExample">

      <div class="accordion-item">
        <div class="" id="heading-0">
            <div class="d-flex justify-content-around w-100 mb-3">
              <div class="p-2">
                  <h3>Dia </h3>
              </div>

              <div class="p-2">
                  <h3>Alumnos que asistieron</h3>
              </div>

              <div class="p-2">
                  <h3>Euros a pagar</h3>
              </div>
            </div>
        </div>
      </div>

    <% @clases.each do |cl| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-<%=cl.id.to_s%>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%=cl.id.to_s%>" aria-expanded="false" aria-controls="collapseThree">
            <div class="d-flex justify-content-around w-100 mb-3">
              <div class="p-2">
                <%= "El #{I18n.t('date.day_names')[cl.diaHora.strftime('%w').to_i]}  #{cl.diaHora.strftime('%d')} de  #{I18n.t('date.month_names')[cl.diaHora.strftime('%m').to_i]} " %>
              </div>

              <div class="p-2">
                <%= "En clase #{cl.claseAlumno.count} vinieron #{cl.claseAlumno.where(claseAlumnoEstado_id: 2).count} alumnos " %>
              </div>

              <div class="p-2">
                    <% if cl.claseAlumno.count == 0 %>
                            <% importe = 0 %>
                        <% elsif cl.claseAlumno.count < 7 %>
                            <% importe = 12 %>
                        <% elsif cl.claseAlumno.count < 9 %>
                            <% importe = 18 %>
                        <% else %>
                            <% importe = 20 %>
                    <% end %>
                    <span class="text-center"> <%= importe  %></span>
              </div>
            </div>
          </button>
        </h2>
        <div id="collapse-<%=cl.id.to_s%>" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
                <ol>
                <% cl.claseAlumno.order(:claseAlumnoEstado_id).each do |clAlm| %>
                    <li  class='text-<%=clAlm.claseAlumnoEstado.color%>'><%= clAlm.usuario.nombre unless clAlm.usuario.blank? %></li>
                <% end %>
                </ol>
          </div>
        </div>
      </div>
    <%end%>
</div>

    <div class="" id="heading-">
        <div class="d-flex justify-content-around w-100 mb-3">
          <div class="p-2">
              <h2><%= @clases.first.instructor.nombre %></h2>
           </div>
          <div class="p-2">
              <h2><%= I18n.t('date.month_names')[@fecha.strftime('%m').to_i]%></h2>
           </div>
          <div class="p-2">
              <h2><%= number_to_currency(@total) %></h2>
           </div>
        </div>
    </div>
