<!DOCTYPE html>
<html>
  <head class="container">
    <title> <%= yield(:title) %></title>
    <meta name="description" content= <%= yield(:descripcion) %>  />
    <meta name="author" content="MiguelRodríguez de AgâraYoga" />

    <%= favicon_link_tag '/logo-agara.ico' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
            <meta property="og:title" content="Agarâra Yoga " />
            <meta property="og:url" content="http://agarayoga.es" />
            <meta property="og:description" content= "<%= yield(:description) %>" />
            <meta property="og:image" content="//agarayoga.eu/logo_agara_solo.png">
            <meta property="og:image:url" content="//agarayoga.eu/logo_agara_solo.png">
            <meta property="og:image:type" content="image/png" />
            <meta property="og:image:width" content="288" />
            <meta property="og:image:height" content="246" />
            <meta property="og:image:alt" content="AgâraYoga" />

            <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="public/logo-agara.ico" />
            <%= favicon_link_tag '//agarayoga.eu/logo_agara_solo.png' %>

    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
      <% if current_usuario && current_usuario.michon? %>
          <%= render 'layouts/menu_michon' %>
      <%elsif current_usuario && current_usuario.admin?%>
          <%= render 'layouts/menu_michon' %>
      <%elsif current_usuario && current_usuario.instructor?%>
          <%= render 'layouts/menu_instructor' %>
      <%elsif current_usuario && current_usuario.yogui?%>
          <%= render 'layouts/menu_usuario' %>
      <%else%>
          <%= render 'layouts/menu_usuario' %>
      <%end%>


    <% if !notice.blank? or !alert.blank? then %>
      <div class="container-fluid py-4 my-5">
        <%= render 'layouts/alerts' %>
      </div>
    <%end%>

    <div class="container-fluid py-4 my-2">
        <%= yield %>
    </div>

    <footer class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Programación Miguel Rodríguez. Propiedad intelectual de AgâraYoga</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#" class="text-dark">Términos</a>
                <span class="text-muted mx-2">|</span>
                <a href="#" class="text-dark">Política de privacidad</a>
            </div>
        </div>
    </footer>

    <% unless flash.empty? %>
       <script type="text/javascript">
          <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
         toastr['<%= type %>']('<%= f[1] %>');
       <% end %>
       </script>
    <% end %>

  </body>

</html>
