<!DOCTYPE html>
<html>
  <head>
    <title>AgarayogaAlumnos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">AgâraYoga</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <%= link_to 'Inicio', indice_path, class: "nav-item nav-link" %>
                    <a href="#" class="nav-item nav-link active">Home</a>
                    <a href="#" class="nav-item nav-link">Services</a>
                    <a href="#" class="nav-item nav-link">About</a>
                    <a href="#" class="nav-item nav-link">Contact</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <% if current_usuario %>
                        <%= link_to 'Abandonar la sesión', destroy_usuario_session_path, class: "nav-item nav-link", method: :delete %>
                    <%else%>
                        <%= link_to 'Autenticarse', new_usuario_session_path, class: "nav-item nav-link" %>
                        <%= link_to 'Darse de alta', new_usuario_registration_path, class: "nav-item nav-link" %>
                    <%end%>

                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid py-4 my-5">
      <%= render 'layouts/alerts' %>
    </div>

    <div class="container-fluid py-4 my-5">
        <%= yield %>
    </div>

    <footer>
        <div class="row">
            <div class="col-md-6">
                <p>Copyright &copy; 2021 Tutorial Republic</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#" class="text-dark">Terms of Use</a>
                <span class="text-muted mx-2">|</span>
                <a href="#" class="text-dark">Privacy Policy</a>
            </div>
        </div>
    </footer>

    <% unless flash.empty? %>
       <script type="text/javascript">
          <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
         toastr['<%= type %>']('<%= f[1] %>');
       <% end %>
       </script>
    <% end %>

  </body>

</html>
